@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

body{
    background-color: #131316;
    color: #ffffff;
    font-family: 'Poppins',sans-serif;
    padding: 0;
    margin: 0;
}

section{
    font-size: x-large;
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

section p{
    font-size: x-large;
}

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show{
    filter: blur(0);
    opacity: 1;
    transform: translateX(0);
}

@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}



/* container query */
.container{
    container-type: inline-size;
    container-name: card;
}

@container card(min-width: 800px){
    .container{
        
    }
}